<ion-content
  class="ion-text-center"
  class="ion-justify-content-center"
  class="animated bounceIn"
  *ngIf="!cargando"
>
  <div class="contenedor">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <h3 class="t1" style="padding-left:7%; font-size: 2.5rem">
            <b>Modos</b> de juego
          </h3>
        </ion-col>

        <ion-col size="12">
          <ion-item class="ion-text-center" color="base" lines="none">
            <ion-label id="user">
              <span [style.color]="getRGB(colorUsuario)">
                <b>{{ usuarioStorage.username }}</b>
              </span>
            </ion-label>
          </ion-item>

          <ion-card class="card" style="background-color: #dc3e40;">
            <ion-card-header>
              <ion-card-title
                class="ion-text-left white-text"
                style="font-size: 3rem"
                ><b>Clásico</b></ion-card-title
              >
            </ion-card-header>
            <ion-card-content>
              <div class="ion-text-left white-text ">
                Pon a prueba tus habilidades <br />
                visuales
                <br />
                <button
                  (click)="seleccionarModo(3)"
                  class="ion-float-right btn-floating waves-effect waves-light yellow darken-4"
                  style="font-size: 1.5rem"
                >
                  <ion-icon slot="icon-only" name="play"></ion-icon>
                </button>

                <button
                  routerLink="/rankingrush/clasico"
                  disabled
                  class="ion-float-right btn-floating waves-effect waves-light green "
                  style="font-size: 1.5rem; margin-right: 2%"
                >
                  <ion-icon slot="icon-only" name="podium"></ion-icon>
                </button>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12">
          <ion-card class="card" style="background-color: #39972d;">
            <ion-card-header>
              <ion-card-title
                class="ion-text-left white-text "
                style="font-size: 3rem"
                ><b>Rush</b></ion-card-title
              >
            </ion-card-header>
            <ion-card-content>
              <div class="ion-text-left white-text">
                ¿Cuántos colores puedes distinguir <br />
                en un mínuto?
              </div>
              <br />

              <button
                (click)="seleccionarModo(1)"
                class="ion-float-right btn-floating waves-effect waves-light blue"
                style="font-size: 1.5rem"
              >
                <ion-icon slot="icon-only" name="play"></ion-icon>
              </button>

              <button
                routerLink="/rankingrush/rush"
                class="ion-float-right btn-floating waves-effect waves-light red"
                style="font-size: 1.5rem; margin-right: 2%"
              >
                <ion-icon slot="icon-only" name="podium"></ion-icon>
              </button>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12">
          <ion-card class="card" style="background-color: #c94e28;">
            <ion-card-header>
              <ion-card-title
                class="ion-text-left white-text "
                style="font-size: 3rem"
                ><b>¿Son iguales?</b>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <div class="ion-text-left white-text">
                Compara los colores y <br />
                decide si son iguales o no
              </div>
              <br />

              <button
                (click)="seleccionarModo(4)"
                class="ion-float-right btn-floating waves-effect waves-light blue"
                style="font-size: 1.5rem"
              >
                <ion-icon slot="icon-only" name="play"></ion-icon>
              </button>

              <button
                routerLink="/rankingrush/tf"
                class="ion-float-right btn-floating waves-effect waves-light red"
                style="font-size: 1.5rem; margin-right: 2%"
              >
                <ion-icon slot="icon-only" name="podium"></ion-icon>
              </button>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12">
          <ion-card class="card" style="background-color: #09ada0;">
            <ion-card-header>
              <ion-card-title
                class="ion-text-left white-text "
                style="font-size: 2.4rem"
                ><b>Multijugador</b>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <div class="ion-text-left white-text">
                Compite contra otros <br />jugadores
              </div>
              <br />
              <button
                (click)="seleccionarModo(2)"
                class="ion-float-right btn-floating waves-effect waves-light pink darken-2"
                style="font-size: 1.5rem"
              >
                <ion-icon slot="icon-only" name="play"></ion-icon>
              </button>

              <button
                routerLink="/rankingrush/tf"
                class="ion-float-right btn-floating waves-effect waves-light yellow darken-4 "
                style="font-size: 1.5rem;margin-right: 2%"
              >
                <ion-icon slot="icon-only" name="podium"></ion-icon>
              </button>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12">
          <ion-card class="card c3" style="background-color: #e2b617;">
            <ion-card-header>
              <ion-card-title
                class="ion-text-left white-text "
                style="font-size: 2.4rem"
                ><b>Bonus</b>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list style="background-color: transparent;">
                <ion-item color="amarillo" style="border: none;" lines="none">
                  <button
                    routerLink="/nuevemillones"
                    class="ion-float-right btn-floating waves-effect waves-light yellow darken-4 "
                    style="font-size: 1.5rem;margin-right: 2%"
                  >
                    <ion-icon slot="icon-only" name="eye"></ion-icon>
                  </button>
                  <ion-label class="ion-float-left">
                    9 millones de colores</ion-label
                  >
                </ion-item>
                <ion-item color="amarillo" style="border: none;" lines="none">
                  <button
                    routerLink="/randomcolor"
                    class="ion-float-right btn-floating waves-effect waves-light yellow darken-4 "
                    style="font-size: 1.5rem;margin-right: 2%"
                  >
                    <ion-icon slot="icon-only" name="eye"></ion-icon>
                  </button>
                  <ion-label class="ion-float-left">
                    Colores Aleatorios</ion-label
                  >
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12">
          <h5 class="ion-text-right">
            <a routerLink="/about">Acerca de</a>
          </h5>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-content *ngIf="cargando" class="ion-justify-content-center">
  <div class="contenedor">
    <ion-grid fixed>
      <ion-row
        class="ion-justify-content-center"
        class="ion-text-center"
        style="padding-top: 50%"
      >
        <ion-col size="12">
          <b><span class="cargando">Cargando datos</span></b> <br />
          <ion-spinner name="dots"></ion-spinner>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
