<ion-header>
  <ion-toolbar [color]="conf.temaOscuro ? 'oscuro2' : ''">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu1"></ion-back-button>
    </ion-buttons>
    <ion-title>{{mensajes.titulo[conf.idioma]}}</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [color]="conf.temaOscuro ? 'oscuro2' : ''">

  <ion-item [color]="conf.temaOscuro ? 'oscuro2' : ''">
    <ion-label>{{mensajes.seleccionarModo[conf.idioma]}}</ion-label>
    <ion-select [(ngModel)]="modoSeleccionado" (ionChange)="selecionarModo($event)" (ok-text)="conf.idioma == 1? 'Ok':'Ok'"(cancel-text)="conf.idioma == 1? 'Cancelar':'Cancel'">
      <ion-select-option *ngFor="let modo of modos" [value]="modo.id">{{modo.label[conf.idioma]}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-card *ngIf="isGeneral" [color]="conf.temaOscuro ? 'oscuro2' : ''">
    <ion-card-header>
      <ion-card-title><b>{{labelModo}}</b></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid no-padding>
        <ion-row>

          <ion-col size="6" text-start>{{mensajes.tiempoJugado[conf.idioma]}}</ion-col>
          <ion-col size="6" text-end><b>{{parseSeconds(datosGenerales.tiempoJugado)}}</b></ion-col>


          <ion-col size="6" text-start>{{mensajes.intentos[conf.idioma]}}</ion-col>
          <ion-col size="6" text-end><b>{{datosGenerales.intentos}}</b></ion-col>



          <ion-col size="6" text-start>{{mensajes.tiempoPromedio[conf.idioma]}}</ion-col>
          <ion-col size="6" text-end>
            <b>{{promedioTiempoXProblema(datosGenerales.tiempoJugado, datosGenerales.fallos,datosGenerales.correctos)}}
              s</b></ion-col>

          <ion-col size="6" text-start>{{mensajes.puntajePromedio[conf.idioma]}}</ion-col>
          <ion-col size="6" text-end>
            <b>{{promedioPuntajeXIntento(datosGenerales.intentos, datosGenerales.fallos,datosGenerales.correctos)}}</b>
          </ion-col>


          <ion-col size="6" text-start>{{mensajes.correctos[conf.idioma]}}</ion-col>
          <ion-col size="6" text-end><b>{{datosGenerales.correctos}}
              ({{calcPorcentaje(datosGenerales.correctos+datosGenerales.fallos,datosGenerales.correctos)}}%)</b>
          </ion-col>

          <ion-col size="6" text-start>{{mensajes.errores[conf.idioma]}}</ion-col>
          <ion-col size="6" text-end><b>{{datosGenerales.fallos}}
              ({{calcPorcentaje(datosGenerales.correctos+datosGenerales.fallos,datosGenerales.fallos)}}%)</b></ion-col>


        </ion-row>
        <ion-row>
          <ion-col size="12">
            <canvas #doughnutCanvas height="250%"></canvas>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
    
   <ion-card-header [color]="conf.temaOscuro ? 'oscuro2' : ''" text-center >
     <ion-card-title>
        <ion-button (click)="menuReiniciarDatos()" color="danger">
            {{mensajes.reiniciar[conf.idioma]}}
          </ion-button>
    </ion-card-title>
   </ion-card-header>

  
  </ion-card>

  <div *ngIf="!isGeneral">
    <ion-card *ngFor="let d of dificultades" [color]="conf.temaOscuro ? 'oscuro2' : ''">
      <ion-card-header>
        <ion-card-title>{{d.label[conf.idioma]}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-card *ngFor="let t of tiempos" [color]="conf.temaOscuro ? 'oscuro2' : ''">
          <ion-card-header>
            <ion-card-subtitle><b>{{t.label[conf.idioma]}}</b></ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ng-container *ngIf="validarStats(d.id,t.id); else elseTemplate">
              <ion-grid no-padding>
                <ion-row>
                  <ion-col size="8">{{mensajes.record[conf.idioma]}}</ion-col>
                  <ion-col size="4" text-end>
                    <b>{{stats[d.id][t.id].record}}</b>
                  </ion-col>

                  <ion-col size="8">{{mensajes.mayorRacha[conf.idioma]}}</ion-col>
                  <ion-col size="4" text-end>
                    <b>{{stats[d.id][t.id].rachaMax}}</b>
                  </ion-col>

                  <ion-col size="8">{{mensajes.intentos[conf.idioma]}}</ion-col>
                  <ion-col size="4" text-end>
                    <b>{{stats[d.id][t.id].intentos}}</b>
                  </ion-col>

                  <ion-col size="8" text-start>{{mensajes.puntos[conf.idioma]}}</ion-col>
                  <ion-col size="4" text-end>
                    <b>{{stats[d.id][t.id].puntosAcum}}</b>
                  </ion-col>

                  <ion-col size="8" text-start>{{mensajes.puntajePromedio[conf.idioma]}}</ion-col>
                  <ion-col size="4" text-end>
                    <b>{{promedioPuntajeXIntento2(stats[d.id][t.id].puntosAcum,stats[d.id][t.id].intentos)}}</b>
                  </ion-col>



                </ion-row>
              </ion-grid>
            </ng-container>
            <ng-template #elseTemplate>
              {{mensajes.noData[conf.idioma]}}
            </ng-template>

          </ion-card-content>
        </ion-card>


      </ion-card-content>
    </ion-card>
  </div>



</ion-content>