<ion-content>
  <div class="contenedor" [style.background-color]="getRGB(bgColor,.1)">
    <br><br><br> <br>

    <ion-card class="card" style="background-color: white;">
      <ion-card-content>

        <ion-grid no-padding>
          <ion-row style="height: 100%;" justify-content-center align-items-center>
            <ion-col size="4">

            </ion-col>
            <ion-col size="4">
              <img src="assets/img/logo.png" alt="" srcset="">
            </ion-col>
            <ion-col size="4">

            </ion-col>


            <ion-col size="12" text-center>
              <form (ngSubmit)="registrarse()">
                <ion-list style="border: transparent">
                  <ion-item>
                    <ion-label position="floating">Nombre de usuario</ion-label>
                    <ion-input [(ngModel)]="nombreUsuario" name="usuario"></ion-input>
                  </ion-item>
                </ion-list>

                <button class="btn c1" type="submit">
                  Registrarme
                </button>
              </form>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>


</ion-content>