.tira {
  width: 100%;
  height: 35vh;
}

.tr1 {
  background-color: #0f6d84;
}

.tr2 {
  background-color: #08c3b2;
}

.tr3 {
  background-color: #ffcd1d;
}

.tr4 {
  background-color: #fe9c90;
}

#tr5 {
  background-color: #dc3e40;
  box-shadow: 10px 10px 5px rgb(88, 88, 88);
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 60%;
  margin: 0 auto;
  padding-top: 0%;
  margin-top: 0;
}

.cuadro {
  width: 60%;
  height: 30vh;
  margin: 0 auto;
  color: white;
  font-size: 1rem;
  text-align: left;
  box-shadow: 10px 10px 5px rgb(88, 88, 88);
}

.div1 {
  grid-area: 1 / 1 / 6 / 2;
}
.div2 {
  grid-area: 1 / 2 / 6 / 3;
}
.div3 {
  grid-area: 1 / 4 / 6 / 5;
}
.div4 {
  grid-area: 1 / 3 / 6 / 4;
}
.div5 {
  grid-area: 1 / 5 / 6 / 6;
}
