<ion-content>
  <div
    [style.background-color]="getRGBLight(coloresReales)"
    style="min-height: 100vh"
  >
    <ion-grid
      class="ion-no-padding"
      class="ion-text-center"
      class="ion-justify-content-center"
      style="height: 100%"
    >
      <ion-row>
        <ion-col size="6">
          <ion-card
            class="card"
            style="background-color: #f8f8f8;padding-bottom: 0%;"
          >
            <ion-card-header>
              <ion-card-title
                class="ion-text-left txt-main "
                style="font-size: 1.7rem"
                ><b>Objetivo</b></ion-card-title
              >
            </ion-card-header>
            <ion-card-content
              style="width: 100%; height:15vh;margin: 0 auto;"
              [style.background-color]="getRGB(coloresReales)"
            >
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card
            class="card"
            style="background-color: #f8f8f8;padding-bottom: 0%;"
          >
            <ion-card-header>
              <ion-card-title
                class="ion-text-left txt-main "
                style="font-size: 1.7rem"
                ><b>Aprox.</b></ion-card-title
              >
            </ion-card-header>
            <ion-card-content
              style="width: 100%; height:15vh;margin: 0 auto;"
              [style.background-color]="getRGB(coloresUsuario)"
            >
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" *ngIf="!isVerificar">
          <ion-card class="card" style="background-color: white">
            <ion-card-content>
              <h4 style="font-size:1.1rem" class="t1" class="ion-text-center">
                [<span>{{ toStringValores() }}</span
                >]
              </h4>
              <div class="ion-text-center">
                <b>Nivel {{ nivel }}</b>
              </div>
              <ion-list>
                <ion-item>
                  {{ coloresUsuario.r }}
                  <ion-range
                    max="255"
                    [(ngModel)]="coloresUsuario.r"
                    color="danger"
                  >
                    <ion-icon slot="start" size="small" name="sunny"></ion-icon>
                    <ion-icon slot="end" name="sunny"></ion-icon>
                  </ion-range>
                </ion-item>

                <ion-item>
                  {{ coloresUsuario.g }}
                  <ion-range
                    max="255"
                    [(ngModel)]="coloresUsuario.g"
                    color="success"
                  >
                    <ion-icon slot="start" size="small" name="sunny"></ion-icon>
                    <ion-icon slot="end" name="sunny"></ion-icon>
                  </ion-range>
                </ion-item>

                <ion-item>
                  {{ coloresUsuario.b }}
                  <ion-range
                    max="255"
                    [(ngModel)]="coloresUsuario.b"
                    color="primary"
                  >
                    <ion-icon slot="start" size="small" name="sunny"></ion-icon>
                    <ion-icon slot="end" name="sunny"></ion-icon>
                  </ion-range>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" class="ion-text-center" *ngIf="!isVerificar">
          <button
            (click)="validar()"
            class="btn btn-floating"
            [style.background-color]="getRGB(coloresReales)"
          >
            <ion-icon slot="icon-only" name="checkmark"></ion-icon>
          </button>
        </ion-col>

        <ion-col *ngIf="!isVerificar" size="12" class="ion-text-center">
          <button
            (click)="siguiente()"
            class="btn btn-floating"
            [style.background-color]="getRGB(siguienteColor)"
          >
            <ion-icon slot="icon-only" name="repeat"></ion-icon>
          </button>
          <button
            (click)="ayuda()"
            class="btn btn-floating blue"
            style="margin-left: 4%"
            [disabled]="ayudas >= 3"
          >
            <ion-icon slot="icon-only" name="help"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card class="card" *ngIf="isVerificar" style="background-color: white ">
      <ion-grid>
        <ion-row>
          <ion-col>
            <b>Color</b>
          </ion-col>

          <ion-col>
            <b>Real</b>
          </ion-col>

          <ion-col>
            <b>Aprox</b>
          </ion-col>
          <ion-col>
            <b>Error</b>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col style="color: red">R</ion-col>
          <ion-col>{{ coloresReales.r }}</ion-col>
          <ion-col>{{ coloresUsuario.r }}</ion-col>
          <ion-col>{{ porcen.r }}%</ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="color:green">G</ion-col>
          <ion-col>{{ coloresReales.g }}</ion-col>
          <ion-col>{{ coloresUsuario.g }}</ion-col>
          <ion-col>{{ porcen.g }}%</ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="color: blue">B</ion-col>
          <ion-col>{{ coloresReales.b }}</ion-col>
          <ion-col>{{ coloresUsuario.b }}</ion-col>
          <ion-col>{{ porcen.b }}%</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <b>Error Total</b>
          </ion-col>
          <ion-col></ion-col>
          <ion-col></ion-col>
          <ion-col> {{ porcentajeTotal }}% </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <button
              class="btn btn-floating"
              (click)="reiniciar()"
              [style.background-color]="getRGB(coloresReales)"
            >
              <ion-icon slot="icon-only" name="repeat"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
</ion-content>
