<ion-header *ngIf="!isLoading">
  <ion-toolbar color="fondo">
    <ion-title class="t1">{{ salaActual.nombre }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!isLoading && !salaActual.iniciado">
  <div class="contenedor main-app-top">
    <ion-col size="12">
      <button
        *ngIf="soyCreador"
        class="btn "
        style="margin-top: 3%; background-color: rgb(18, 131, 52)"
        (click)="iniciar()"
      >
        Empezar juego
      </button>
      <ion-col size="12" class="t1">
        <div>
          <div class="ion-text-right t1" style="padding-left: 4%">
            Jugadores: {{ salaActual.jugadores.length }}
          </div>
          <div class="ion-text-right t1" style="padding-left: 4%">
            Modo de juego: Rush
          </div>
        </div>
        <h4 class="ion-text-left" style="padding-left: 4%">Jugadores</h4>
        <ion-item
          color="fondo"
          *ngFor="let j of salaActual.jugadores; let i = index"
        >
          <ion-label class="t1" style="font-size: 1.3rem">
            {{ i + 1 }}.- {{ j }}</ion-label
          >
        </ion-item>
      </ion-col>
    </ion-col>
  </div>
</ion-content>

<ion-content *ngIf="isLoading">
  <div class="contenedor main-app-top">
    <ion-grid fixed>
      <ion-row justify-content-center align-items-center>
        <ion-col size="12" style="padding-top:25%">
          <span class="t1" style="font-size:2rem">Cargando</span> <br />
          <ion-spinner class="primary" name="circles"></ion-spinner>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-content *ngIf="salaActual.iniciado">
  <div class="animated zoomIn faster mt-2" *ngIf="!finPartida">
    <ion-grid>
      <ion-row justify-content-center align-items-center>
        <ion-col size="6">
          <div class="ion-text-start" style="margin-left: 5%" padding>
            <div style="font-size: 180%">
              {{ puntuacion }}
              <ion-icon color="success" slot="end" name="md-checkmark">
              </ion-icon>
              <br />
              {{ preguntaActual + 1 }}/{{ totalPreguntas }}
            </div>
          </div>
        </ion-col>

        <ion-col padding size="6">
          <div class="ion-text-end" style="font-size: 200%">
            <ion-icon
              *ngFor="let vida of toArray(vidas)"
              color="orange"
              name="heart"
            ></ion-icon>
          </div>
        </ion-col>

        <ion-col size="12" class="ion-text-center">
          <span>Objetivo</span><br />
          <ion-card
            class="card"
            style="width: 80vw; height:15vh;margin: 0 auto;"
            [style.background-color]="getRGB(coloresReales)"
          >
          </ion-card>
        </ion-col>

        <ion-col text-center>
          <ion-grid no-padding>
            <div class="ion-text-center">
              Opciones
            </div>
            <ion-row>
              <ion-col size="6" *ngFor="let r of respuestas">
                <ion-card
                  class="card"
                  style="height: 17vh; padding: 0; margin: 0;"
                  [style.background-color]="getRGB(r)"
                  (click)="comprobar(r)"
                >
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="finPartida" class="animated zoomIn faster mt-2">
    <div class="contenedor ">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <ion-card
              class="ion-text-center"
              class="card white-text"
              style="background-color:rgba(72, 96, 128, 0.822)"
            >
              <h3 style="font-size: 1.7rem">Juego terminado</h3>
              <span *ngIf="sinVidas">Vidas terminadas</span>
              <span *ngIf="!sinVidas">Has terminado todos los problemas</span>
              <br /><br />
              <span style="font-size: 80%">
                Puntuación
              </span>
              <br />
              <span style="font-size: 200%">
                <b> {{ puntuacion }}</b>
              </span>
            </ion-card>
          </ion-col>

          <ion-col
            size="12"
            text-center
            *ngIf="soyCreador"
            style="margin-top: 3%"
            color="principal"
            (click)="onReset()"
          >
            <a
              class="btn-floating btn-large waves-effect waves-light red  animated pulse infinite"
              (click)="iniciar()"
            >
              <b>
                <ion-icon
                  name="refresh"
                  style="font-size: 200%;padding-top: 21%; padding-left:1%"
                ></ion-icon>
              </b>
            </a>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <h2 class="ion-text-center t1">Marcador</h2>
          </ion-col>
          <ion-col size="12">
            <ion-list
              style="background-color: transparent;"
              *ngFor="let p of marcador; let i = index"
            >
              <ion-item color="fondo">
                <ion-label class="t1" style="font-size: 1.7rem;">
                  {{ i + 1 }}.- {{ p.username }}</ion-label
                >
                <ion-note
                  slot="end"
                  color="principal"
                  style="font-size: 2.1rem;"
                >
                  <ion-chip
                    style="margin-right:10%"
                    outline="true"
                    (click)="terminarIntento()"
                  >
                    <ion-label>
                      {{ p.puntuacion }}
                    </ion-label>
                  </ion-chip>
                </ion-note>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
