<ion-header *ngIf="(!jugando || (jugando && finIntento)) && !conteo" text-center>
  <ion-toolbar [color]="conf.temaOscuro ? 'oscuro2' : ''">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu1"></ion-back-button>
    </ion-buttons>
    {{modos[modo][conf.idioma]}} - {{tiempos[tipoTiempo][conf.idioma]}}
  </ion-toolbar>

</ion-header>

<ion-content [color]="conf.temaOscuro ? 'oscuro2' : ''">

  <div *ngIf="!jugando && !conteo">

    <ion-row style="padding-top: 20vh" justify-content-center align-items-center>

      <ion-col size="4" >
      </ion-col>

      <ion-col size="4" >
        <ion-img [src]="modos[modo].img" style=" text-align: center"></ion-img>
      </ion-col>
      <ion-col size="4" >
      </ion-col>

      <ion-col size="12" text-center>
        <div>

          <span style="font-size: 160%">
            <ion-icon name="trophy"></ion-icon> {{mensajes.mejorPuntuacion[conf.idioma]}}
          </span>
          <span style="font-size: 140%; padding-left: 5%">
            <b *ngIf="datosJuego.record > 0">{{datosJuego.record}}</b>
            <b *ngIf="datosJuego.record == 0">--</b>
          </span>

        </div>

        <br> <br>
        <br>
        <span style="font-size: 160%">
          {{mensajes.instrucciones[conf.idioma]}}
        </span>

        <br>
        <br><br>
        <ion-button color="orange" (click)="iniciar()" style="font-size: 150%">
          <b>{{mensajes.inicio[conf.idioma]}}</b>
        </ion-button>


      </ion-col>

    </ion-row>

  </div>


  <div *ngIf="conteo">
    <ion-row style="height: 100vh;" justify-content-center align-items-center>

      <ion-col size="12" text-center>

        <span style="font-size: 200%">
          <b *ngIf="3-(tiempoInicial - segundos) == 3" class="animated bounceIn">3</b>
          <b *ngIf="3-(tiempoInicial - segundos) == 2" class="animated bounceIn">2</b>
          <b *ngIf="3-(tiempoInicial - segundos) == 1" class="animated bounceIn">1</b>
        </span>



      </ion-col>

    </ion-row>

  </div>




  <div *ngIf="jugando && !finIntento && !conteo" class="animated zoomIn faster mt-2">

    <ion-grid>
      <ion-row justify-content-center align-items-center>
        <ion-col size="6">
          <div class="ion-text-start" style="margin-left: 5%" padding>
            <div style="font-size: 180%">{{puntuacion}} <ion-icon color="success" slot="end" name="md-checkmark">
              </ion-icon>
            </div>
          </div>
        </ion-col>

        <ion-col padding size="6">
          <div class="ion-text-end" style="font-size: 200%">
            <ion-icon *ngFor="let vida of toArray(vidas)" color="orange" name="heart"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="12" style="padding-top: 2vh">
          <div text-center style="font-size: 170%" [class]="ultimosSegundos? 'red-text' : ''">
            <ion-icon name="alarm"></ion-icon> {{tiempoString}}
          </div>
        </ion-col>

        <ion-col size="12" style="padding-top: 2vh">

          <h1 text-center class="pt-1 titulo-1">
            {{pregunta}}
          </h1>
        </ion-col>

      </ion-row>

      <ion-row [ngClass]="{'tema-oscuro': conf.temaOscuro}" style="padding-top: 8vh">
        <ion-col text-center [ngClass]="{'tema-oscuro': conf.temaOscuro}">
          <ion-list [ngClass]="{'tema-oscuro': conf.temaOscuro}">
            <ion-item [color]="conf.temaOscuro ? 'oscuro2' : ''" style="margin-bottom: 4%" lines="none"
              *ngFor="let respuesta of respuestas" text-center>
              <button style="font-size: 200%; width: 70%; height: 140%;border-radius: 40px;"
                class="center btn deep-orange waves-effect waves-light" text-center (click)="responder(respuesta)">
                {{respuesta}}
              </button>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row style="margin-top:5vh">
        <ion-col text-end>
          <ion-chip style="margin-right:10%" [color]="conf.temaOscuro ? 'orange' : 'danger'" outline="true"
            (click)="terminarIntento()">

            <ion-label>
              <ion-icon name="flag"></ion-icon> {{mensajes.terminar[conf.idioma]}}
            </ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>



    </ion-grid>



  </div>

  <div *ngIf="jugando && finIntento && !conteo" class="animated bounceIn">

    <ion-grid>

      <ion-row justify-content-center align-items-center>



        <ion-col size="12" style="padding-top: 5vh">
          <ion-card [color]="conf.temaOscuro ? 'oscuro2' : ''">
            <ion-card-header>
              <ion-card-subtitle text-center>
                <span style="font-size: 140%"
                  [ngClass]="conf.temaOscuro? 'orange-text lighten-3':'deep-orange-text darken-3'">
                  <b>{{mensajes.endGame[conf.idioma]}}</b>
                </span>
              </ion-card-subtitle>
              <ion-card-title text-center>
                <div *ngIf="nuevoRecord" class="animated tada infinite delay-1s ">
                  <span style="font-size: 130%">{{mensajes.nuevoRecord[conf.idioma]}}</span>
                </div>

                <br>
                <span style="font-size: 80%">{{mensajes.puntuacion[conf.idioma]}}</span> <br>
                <span style="font-size: 200%"> <b> {{puntuacion}}</b> </span>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content
              (style)="conf.temaOscuro? 'color: white; font-size: 100%':'color: black; font-size: 100%'">
              <ion-grid no-padding>
                <ion-row>
                  <ion-col size="10">
                    <span style="font-size: 110%">
                      <ion-icon name="flame"></ion-icon> {{mensajes.rachaMax[conf.idioma]}}
                    </span>
                  </ion-col>

                  <ion-col size="2" text-end>
                    <span style="font-size: 110%"><b>{{rachaMax}}</b></span>
                  </ion-col>

                  <ion-col size="8">
                    <span style="font-size: 110%">
                      <ion-icon name="alarm"></ion-icon> {{mensajes.tiempoPromedio[conf.idioma]}}
                    </span>
                  </ion-col>

                  <ion-col size="4" text-end>
                    <span style="font-size: 110%"><b>{{promXproblema}} s</b></span>
                  </ion-col>

                  <ion-col size="8">
                    <span style="font-size: 110%">
                      <ion-icon name="trophy"></ion-icon> {{mensajes.record[conf.idioma]}}
                    </span>
                  </ion-col>

                  <ion-col size="4" text-end>
                    <span style="font-size: 110%"><b>{{datosJuego.record}}</b></span>
                  </ion-col>

                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>

        </ion-col>



        <ion-col size="12" text-center style="padding-top: 17vh">

          <a class="btn-floating btn-large waves-effect waves-light deep-orange animated pulse infinite"
            (click)="reintentar()">
            <b>
              <ion-icon name="refresh" style="font-size: 200%;padding-top: 21%; padding-left:1%"></ion-icon>
            </b>
          </a>
        </ion-col>
      </ion-row>

    </ion-grid>

  </div>

</ion-content>