<ion-content>
  <div class="contenedor" [style.background-color]="toRGB(1)">
    <ion-grid fixed>
      <ion-row>
        <ion-col style="height: 50vh;" size="12"></ion-col>
        <ion-col style="height: 50vh;" size="12">
          <ion-card
            class="card"
            style="margin-top: 0; background-color: white; height: 95%;"
          >
            <ion-card-content>
              <ion-list>
                <ion-item>
                  {{ color.r }}
                  <ion-range max="255" [(ngModel)]="color.r" color="danger">
                    <ion-icon slot="start" size="small" name="sunny"></ion-icon>
                    <ion-icon slot="end" name="sunny"></ion-icon>
                  </ion-range>
                </ion-item>

                <ion-item>
                  {{ color.g }}
                  <ion-range max="255" [(ngModel)]="color.g" color="success">
                    <ion-icon slot="start" size="small" name="sunny"></ion-icon>
                    <ion-icon slot="end" name="sunny"></ion-icon>
                  </ion-range>
                </ion-item>

                <ion-item>
                  {{ color.b }}
                  <ion-range max="255" [(ngModel)]="color.b" color="primary">
                    <ion-icon slot="start" size="small" name="sunny"></ion-icon>
                    <ion-icon slot="end" name="sunny"></ion-icon>
                  </ion-range>
                </ion-item>
              </ion-list>
              <button
                (click)="randomColor()"
                class="btn btn-floating"
                style="margin-top: 1%;"
                *ngIf="isStopped"
                [style.background-color]="toRGB(1)"
              >
                <ion-icon slot="start" name="repeat"></ion-icon>
              </button>
              <button
                (click)="stopOrPlay()"
                class="btn btn-floating"
                style="margin-top: 1%; margin-left: 10%;"
                [style.background-color]="toRGB(1)"
              >
                <ion-icon
                  *ngIf="!isStopped"
                  slot="start"
                  name="pause"
                ></ion-icon>
                <ion-icon *ngIf="isStopped" slot="start" name="play"></ion-icon>
              </button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
