<ion-content *ngIf="!cargando">
  <div class="contenedor animated zoomIn faster " *ngIf="isJugando">
    <ion-grid fixed style=" padding-top: 2vh;">
      <ion-row>
        <ion-col size="12" style="height: 30vh;">
          <ion-card
            class="card"
            style="width: 100%; height: 100%; margin: 0 auto;"
            [style.background-color]="getRGB(color1)"
          >
          </ion-card>
        </ion-col>

        <ion-col size="12" style="height: 10vh;padding-top: 3vh;">
          <div>
            <div class=" t1" style="font-size: 1.5rem; float: left;">
              Puntos: {{ puntos }} <br />
              Record: {{ record }}
            </div>
            <div class="ion-text-end" style="font-size: 200%; float:right">
              <ion-icon
                *ngFor="let vida of toArray(vidas)"
                color="orange"
                name="heart"
              ></ion-icon>
            </div>
          </div>
        </ion-col>
        <ion-col>
          <div
            class="ion-text-center"
            *ngIf="!isMostrandoRes"
            style="min-height: 17vh;"
          >
            <div style="margin-bottom:5%">
              <h6
                style="font-size: 2.1rem;text-align: center;"
                class="ion-text-center"
                class="t1"
              >
                ¿Son iguales?
              </h6>
            </div>

            <button
              (click)="responder(true)"
              class="btn btn-floating waves-effect waves-light green"
            >
              <ion-icon name="checkmark"></ion-icon>
            </button>
            <button
              style="margin-left: 7%;"
              (click)="responder(false)"
              class="btn btn-floating waves-effect waves-light red"
            >
              <ion-icon name="close"></ion-icon>
            </button>
          </div>
          <div
            class="ion-text-center"
            *ngIf="isMostrandoRes"
            style="min-height: 17vh;"
          >
            <div style="margin-bottom:5%">
              <h6 style="font-size: 2.1rem;" class="ion-text-center" class="t1">
                <span *ngIf="isCorrec">Correcto</span>
                <span *ngIf="!isCorrec">Incorrecto</span>
              </h6>
            </div>
            <div class="t1">
              <span *ngIf="respuesta" style="font-size: 1.7rem;"
                >Son iguales</span
              >
              <span *ngIf="!respuesta" style="font-size: 1.7rem;"
                >Son diferentes</span
              >
            </div>
          </div>
        </ion-col>

        <ion-col size="12" style="height: 30vh;">
          <ion-card
            class="card"
            style="width: 100%;height: 100%; margin: 0 auto;"
            [style.background-color]="getRGB(color2)"
          >
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="contenedor animated zoomIn faster" *ngIf="!isJugando">
    <ion-grid fixed>
      <ion-row class="ion-justify-content-center" class="ion-text-center">
        <ion-col size="12">
          <ion-card
            class="card"
            style="margin-top:20vh; background-color: #2e9225; color:white;width: 75vw; margin:0 auto;"
          >
            <ion-card-content>
              <span style="font-size: 1.7rem; padding-top: 10%;">
                ¡Fin del juego!
              </span>
              <div *ngIf="isNewRecord" class="animated tada infinite delay-1s ">
                <span style="font-size: 130%">
                  Nuevo record
                </span>
              </div>
              <br />
              <span style="font-size: 80%">
                Puntuación
              </span>
              <br />
              <span style="font-size: 240%">
                <b> {{ puntos }}</b>
              </span>
              <br />

              <ion-grid no-padding>
                <ion-row>
                  <ion-col size="8" class="ion-text-left">
                    <span style="font-size: 110%">
                      <ion-icon name="trophy"></ion-icon>
                      Record
                    </span>
                  </ion-col>

                  <ion-col size="4" text-end class="ion-text-right">
                    <span style="font-size: 110%"
                      ><b>
                        {{ datosJuego.recordTF }}
                      </b></span
                    >
                  </ion-col>
                </ion-row>
              </ion-grid>

              <button
                style="margin-top: 3vh;"
                (click)="jugar()"
                class="btn btn-floating  waves-effect waves-light red  animated pulse infinite"
              >
                <b>
                  <ion-icon
                    name="refresh"
                    style="font-size: 200%;padding-top: 17%; padding-left:1%"
                  ></ion-icon>
                </b>
              </button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-content *ngIf="cargando">
  <div class="contenedor " style="padding-top: 50%;">
    <span class="cargando">Cargando</span> <br />
    <ion-spinner name="dots"></ion-spinner>
  </div>
</ion-content>
