<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu1"></ion-back-button>
    </ion-buttons>
    <ion-title>Acerca de </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-img src="assets/img/logo.png"></ion-img>
        <br />
        <h3 class="t1" class="ion-text-center">Color Game v1.1.0</h3>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content text-justify> </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content text-justify>
      <p class="ion-text-center">
        App desarrolla para la materia de Arquitectura de Computadoras 2019B
      </p>
      <br />
      <div class="ion-text-center">
        Alumnos:
        <ul>
          <li>Cinthya Yulieth Michua Díaz</li>
          <li>Diana Quintana Gamboa</li>
          <li>Jovanny Ramírez Chimal</li>
        </ul>
      </div>
      <h1 style="font-size:200%; text-align: center">
        <b>ツ</b>
      </h1>

      <br />
      <br />

      <div class="ion-text-center">
        <ion-button
          href="https://play.google.com/store/apps/developer?id=J19+%26+JM+Studios&hl=es"
          fill="clear"
        >
          <ion-icon slot="start" name="md-appstore"></ion-icon>
          PLAYSTORE
        </ion-button>
        <br /><br />

        <ion-button href="https://wa.me/527226227577" fill="clear">
          <ion-icon slot="start" name="logo-whatsapp"></ion-icon> Whatsapp
        </ion-button>
        <br /><br />
        <ion-button href="https://gitlab.com/JovannyRch/colorgame" fill="clear">
          <ion-icon slot="start" name="logo-github"></ion-icon> Codigo Fuente
        </ion-button>
        <br />
      </div>

      <ion-item text-center [color]="conf.temaOscuro ? 'oscuro2' : ''">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="2"></ion-col>
            <ion-col size="8">
              <b>
                <ion-icon
                  *ngIf="icon === 'rocket'"
                  class="animated jackInTheBox"
                  style="font-size: 220%"
                  [name]="icon"
                ></ion-icon>
                <ion-icon
                  *ngIf="icon === 'planet'"
                  class="animated jackInTheBox"
                  style="font-size: 220%"
                  [name]="icon"
                ></ion-icon>
                <br />J19 Studios</b
              >
            </ion-col>
            <ion-col size="2"></ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
