<ion-header *ngIf="(!jugando || (jugando && finIntento)) && !conteo" text-center>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu1"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-left">Rush</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!jugando && !conteo">
    <ion-row style="padding-top: 20vh" justify-content-center align-items-center>
      <ion-col size="12" text-center>
        <ion-card class="card" style="background-color: #39972d;color: white">
          <ion-card-header> </ion-card-header>
          <ion-card-content>
            <div>
              <span style="font-size: 2rem">
                Tu mejor puntuación
              </span>
              <br />
              <span class="ion-text-center" style="font-size: 3rem">
                {{ datosJuego.record }}
              </span>
            </div>

            <br />
            <br />
            <span style="font-size: 160%">
              Resuelve el mayor número de problemas en 1 minuto
            </span>

            <br />
            <br /><br />
            <button class="btn main red" (click)="iniciar()" style="font-size: 150%">
              <b>Iniciar</b>
            </button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="conteo">
    <ion-row style="height: 100vh;" justify-content-center align-items-center>
      <ion-col size="12" text-center>
        <span style="font-size: 4rem">
          <b *ngIf="3 - (tiempoInicial - segundos) == 3" class="animated bounceIn">3</b>
          <b *ngIf="3 - (tiempoInicial - segundos) == 2" class="animated bounceIn">2</b>
          <b *ngIf="3 - (tiempoInicial - segundos) == 1" class="animated bounceIn">1</b>
        </span>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="jugando && !finIntento && !conteo" class="animated zoomIn faster mt-2">
    <ion-grid>
      <ion-row justify-content-center align-items-center>
        <ion-col size="6">
          <div class="ion-text-start" style="margin-left: 5%" padding>
            <div style="font-size: 180%">
              {{ puntuacion }}
              <ion-icon color="success" slot="end" name="md-checkmark">
              </ion-icon>
            </div>
          </div>
        </ion-col>

        <ion-col padding size="6">
          <div class="ion-text-end" style="font-size: 200%">
            <ion-icon *ngFor="let vida of toArray(vidas)" color="orange" name="heart"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="12" style="padding-top: 2vh">
          <div text-center style="font-size: 170%" [class]="ultimosSegundos ? 'red-text' : ''">
            <ion-icon name="alarm"></ion-icon> {{ tiempoString }}
          </div>
        </ion-col>

        <ion-col size="12" class="ion-text-center">
          <span>Objetivo</span><br />
          <ion-card class="card" style="width: 80vw; height:15vh;margin: 0 auto;"
            [style.background-color]="getRGB(coloresReales)">
          </ion-card>
        </ion-col>

        <ion-col text-center>
          <!--
            <ion-list>
            <ion-item
              style="margin-bottom: 4%"
              lines="none"
              text-center
              *ngFor="let r of respuestas"
            >
              <button
                style="font-size: 200%; width: 70%; height: 140%;border-radius: 40px;"
                class="center btn waves-effect waves-light"
                [style.background-color]="getRGB(r)"
                (click)="comprobar(r)"
                text-center
              ></button>
            </ion-item>
          </ion-list>
        -->

          <ion-grid no-padding>
            <div class="ion-text-center">
              Opciones
            </div>
            <ion-row>
              <ion-col size="6" *ngFor="let r of respuestas">
                <ion-card class="card" style="height: 17vh; padding: 0; margin: 0;" [style.background-color]="getRGB(r)"
                  (click)="comprobar(r)">
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>

      <ion-row style="margin-top:5vh">
        <ion-col text-end>
          <ion-chip style="margin-right:10%" outline="true" (click)="terminarIntento()">
            <ion-label>
              <ion-icon name="flag"></ion-icon>
              Rendirse
            </ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="jugando && finIntento && !conteo" class="animated bounceIn">
    <ion-grid>
      <ion-row justify-content-center align-items-center>
        <ion-col size="12" style="padding-top: 5vh">
          <ion-card class="card" style="background-color: #39972d;color: white">
            <ion-card-header>
              <ion-card-subtitle class="white-text" text-center>
                <span style="font-size: 140%">
                  <b *ngIf="!finTiempo">Fin del juego</b>
                  <b *ngIf="finTiempo">Tiempo agotado</b>
                </span>
              </ion-card-subtitle>
              <ion-card-title text-center class="white-text">
                <div *ngIf="nuevoRecord" class="animated tada infinite delay-1s ">
                  <span style="font-size: 130%">
                    Nuevo record
                  </span>
                </div>

                <br />
                <span style="font-size: 80%">
                  Puntuación
                </span>
                <br />
                <span style="font-size: 200%">
                  <b> {{ puntuacion }}</b>
                </span>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content class="white-text" style="font-size: 100%">
              <ion-grid no-padding>
                <ion-row>
                  <ion-col size="10">
                    <span style="font-size: 110%">
                      <ion-icon name="flame"></ion-icon>
                      Racha máxima
                    </span>
                  </ion-col>

                  <ion-col size="2" text-end>
                    <span style="font-size: 110%"><b>{{ rachaMax }}</b></span>
                  </ion-col>

                  <ion-col size="8">
                    <span style="font-size: 110%">
                      <ion-icon name="alarm"></ion-icon>
                      Tiempo promedio
                    </span>
                  </ion-col>

                  <ion-col size="4" text-end>
                    <span style="font-size: 110%"><b>{{ promXproblema }} s</b></span>
                  </ion-col>

                  <ion-col size="8">
                    <span style="font-size: 110%">
                      <ion-icon name="trophy"></ion-icon>
                      Record
                    </span>
                  </ion-col>

                  <ion-col size="4" text-end>
                    <span style="font-size: 110%"><b>
                        {{ datosJuego.record}}
                      </b></span>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12" text-center style="padding-top: 17vh">
          <a class="btn-floating btn-large waves-effect waves-light red  animated pulse infinite" (click)="iniciar()">
            <b>
              <ion-icon name="refresh" style="font-size: 200%;padding-top: 21%; padding-left:1%"></ion-icon>
            </b>
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>