<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu1"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-left">Mejores jugadores Clásico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let j of jugadores">
      <ion-badge slot="end">{{ j.recordC }}</ion-badge>
      <ion-label>{{ j.username }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
