<ion-content *ngIf="page == 1">
  <div class="contenedor">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <h3 class="t1" style="font-size: 2.5rem">
            <b>Multijugador</b>
          </h3>
        </ion-col>
        <ion-col size="12">
          <ion-button color="danger" (click)="page = 3">
            Crear partida
          </ion-button>
        </ion-col>
        <ion-col
          size="12"
          *ngIf="salas.length"
          style="border: .4px solid #002938; border-radius: 15px; margin-top:5%"
        >
          <ion-grid fixed>
            <ion-row class="t1">
              <ion-col size="12">
                <h3
                  class="t1"
                  class="ion-text-left"
                  style="padding-left:7%; font-size: 1.3rem"
                >
                  <b>Salas</b> disponibles
                </h3>
                <ion-list
                  *ngFor="let sala of salas; let i = index"
                  color="principal"
                  lines="none"
                  style="background-color: transparent"
                >
                  <ion-item color="fondo">
                    <ion-label>
                      <h2>
                        <b>{{ sala.nombre }}</b>
                      </h2>

                      <p>
                        <small>Creado por: {{ sala.creador }}</small> <br />
                        <small
                          >Cantidad de jugadores: {{ sala.jugadores.length }}
                        </small>
                      </p>
                    </ion-label>
                    <ion-badge
                      color="tertiary"
                      slot="end"
                      (click)="unirseSala(sala.id)"
                    >
                      Unirse
                    </ion-badge>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col size="12" *ngIf="!salas.length">
          <h4 class="t1" class="ion-text-center">
            <i>No hay salas disponibles</i>
          </h4>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-content *ngIf="page == 3">
  <div class="contenedor">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" class="ion-text-left">
          <ion-back-button
            class="ion-float-left"
            (click)="page = 1"
          ></ion-back-button>
          <h3 class="t1" style="padding-left:7%; font-size: 1.7rem">
            <b>Nueva</b> sala
          </h3>
        </ion-col>
        <ion-col size="12">
          <ion-item lines="none">
            <ion-label position="floating">Nombre de la sala</ion-label>
            <ion-input [(ngModel)]="salaNueva.nombre"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-label>Modo de juego</ion-label>
            <ion-select [(ngModel)]="salaNueva.modo">
              <ion-select-option value="1" selected>Rush</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col size="12">
          <ion-item>
            <ion-label>Cantidad de preguntas</ion-label>
            <ion-select [(ngModel)]="salaNueva.cantidadPreguntas">
              <ion-select-option value="10">10</ion-select-option>
              <ion-select-option value="15" selected>15</ion-select-option>
              <ion-select-option value="20" selected>20</ion-select-option>
              <ion-select-option value="25" selected>25</ion-select-option>
              <ion-select-option value="30" selected>30</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-button
            color="principal"
            [disabled]="!(salaNueva.nombre && salaNueva.modo)"
            (click)="crearSala()"
          >
            Crear Sala
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
