<ion-content [color]="conf.temaOscuro ? 'oscuro2' : ''">

  <div *ngIf="!jugando && !conteo" style="height: 100%; ">

    <ion-row class="volteado" style="height: 50%;" justify-content-center align-items-center>

      <ion-col size="12" text-center>


        <ion-button color="orange" (click)="estoyListo(1)" style="font-size: 150%;  border-radius: 26px;" *ngIf="!isJugador1Listo">
          <b>{{mensajes.inicio[conf.idioma]}}</b>
        </ion-button>

        <div *ngIf="isJugador1Listo && !isJugador2Listo">
          <b>{{mensajes.espera[conf.idioma]}}</b>
        </div>

      </ion-col>

    </ion-row>


    <ion-row style="height: 50%;" justify-content-center align-items-center>

      <ion-col size="12" text-center>


        <ion-button color="orange" (click)="estoyListo(2)" style="font-size: 150%;   border-radius: 26px;" *ngIf="!isJugador2Listo">
          <b>{{mensajes.inicio[conf.idioma]}}</b>
        </ion-button>

        <div *ngIf="isJugador2Listo && !isJugador1Listo">
          <b>{{mensajes.espera[conf.idioma]}}</b>
        </div>


      </ion-col>

    </ion-row>

  </div>


  <div *ngIf="conteo" style="height: 100%;">
    <ion-row class="volteado" style="height: 50%;" justify-content-center align-items-center>

      <ion-col size="12" text-center>

          <span style="font-size: 200%">
              <b *ngIf="3-(tiempoInicial - segundos) == 3" class="animated bounceIn">3</b>
              <b *ngIf="3-(tiempoInicial - segundos) == 2"  class="animated bounceIn">2</b>
              <b *ngIf="3-(tiempoInicial - segundos) == 1"  class="animated bounceIn">1</b>
            </span>
    

      </ion-col>

    </ion-row>
    <ion-row style="height: 50%;" justify-content-center align-items-center>

      <ion-col size="12" text-center>

        
          <span style="font-size: 200%">
              <b *ngIf="3-(tiempoInicial - segundos) == 3" class="animated bounceIn">3</b>
              <b *ngIf="3-(tiempoInicial - segundos) == 2"  class="animated bounceIn">2</b>
              <b *ngIf="3-(tiempoInicial - segundos) == 1"  class="animated bounceIn">1</b>
            </span>
    

      </ion-col>

    </ion-row>

  </div>




  <div *ngIf="jugando && !finIntento && !conteo" class="animated zoomIn faster" style="height: 100vh">

    
    <ion-grid fixed>
      <ion-row fixed class="volteado" style="height: 48vh;" justify-content-center align-items-center>

        <ion-col size="4" text-center>
          <div text-center style="font-size: 170%" [class]="ultimosSegundos? 'red-text' : ''">
            <ion-icon name="alarm"></ion-icon> {{tiempoString}}
          </div>
          <div style="font-size: 130%" padding>
            <ion-icon *ngFor="let vida of toArray(vidas1)" color="orange" name="heart"></ion-icon>
          </div>

          <div>
            <div style="font-size: 180%">{{puntuacion1}} <ion-icon
                [ngClass]="{'animated heartBeat txt-21': correctoJugador1}" color="success" slot="end"
                name="md-checkmark">
              </ion-icon>
            </div>
          </div>
          <div *ngIf="errorJugador1" style="font-size: 140%" class="animated heartBeat">
              {{mensajes.incorrecto[conf.idioma]}}
          </div>

        </ion-col>
        <ion-col size="8">
          <h4 text-center class="titulo-1">
            {{pregunta}}
          </h4>
          <ion-row [ngClass]="{'tema-oscuro': conf.temaOscuro}" style="padding-top: 1vh">
            <ion-col text-center [ngClass]="{'tema-oscuro': conf.temaOscuro}">
              <ion-list [ngClass]="{'tema-oscuro': conf.temaOscuro}">
                <ion-item [color]="conf.temaOscuro ? 'oscuro2' : ''" lines="none" *ngFor="let respuesta of respuestas"
                  text-center>
                  <button [disabled]="blockJugador1" style="font-size: 100%; width: 70%; height: 70%;border-radius: 26px;"
                    class="center btn deep-orange waves-effect waves-light" text-center
                    (click)="responder(respuesta,1)">
                    {{respuesta}}
                  </button>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-col>

      </ion-row>

      <ion-row fixed style="height: 48vh;" justify-content-center align-items-center>

        <ion-col size="4" text-center>
          <div text-center style="font-size: 170%" [class]="ultimosSegundos? 'red-text' : ''">
            <ion-icon name="alarm"></ion-icon> {{tiempoString}}
          </div>
          <div style="font-size: 130%" padding>
            <ion-icon *ngFor="let vida of toArray(vidas2)" color="orange" name="heart"></ion-icon>
          </div>
          <div>
            <div style="font-size: 180%">{{puntuacion2}} <ion-icon
                [ngClass]="{'animated heartBeat txt-21': correctoJugador2}" color="success" slot="end"
                name="md-checkmark">
              </ion-icon>
            </div>
          </div>
          <div *ngIf="errorJugador2" style="font-size: 140%" class="animated heartBeat">
              {{mensajes.incorrecto[conf.idioma]}}
          </div>


        </ion-col>
        <ion-col size="8">
          <h4 text-center class="titulo-1">
            {{pregunta}}
          </h4>
          <ion-row [ngClass]="{'tema-oscuro': conf.temaOscuro}">
            <ion-col text-center [ngClass]="{'tema-oscuro': conf.temaOscuro}">
              <ion-list [ngClass]="{'tema-oscuro': conf.temaOscuro}">
                <ion-item [color]="conf.temaOscuro ? 'oscuro2' : ''" lines="none" *ngFor="let respuesta of respuestas"
                  text-center>
                  <button [disabled]="blockJugador2" style="font-size: 100%; width: 70%; height: 70%;  border-radius: 26px;"
                    class="center btn deep-orange waves-effect waves-light" text-center
                    (click)="responder(respuesta,2)">
                    {{respuesta}}
                  </button>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-col>


      </ion-row>
    </ion-grid>





  </div>

  <div *ngIf="jugando && finIntento && !conteo" class="animated bounceIn" style="height: 100vh;">

    <ion-grid>

      <ion-row class="volteado" justify-content-center align-items-center style="height: 49vh;">



        <ion-col size="12">
          <ion-card [color]="conf.temaOscuro ? 'oscuro2' : ''">
            <ion-card-header>
              <ion-card-subtitle text-center>
                <span style="font-size: 130%"
                  [ngClass]="conf.temaOscuro? 'orange-text lighten-3':'deep-orange-text darken-3'">
                  <b >{{msjP1}}</b> 
                   </span>
              </ion-card-subtitle>
              <ion-card-title text-center>
                <span style="font-size: 60%">Tu puntuación</span> <br>
                <span style="font-size: 120%"> <b> {{puntuacion1}}</b> </span> <br>
                <span style="font-size: 50%">Marcador</span> <br>
                <span style="font-size: 100%"> <b> {{marcador.jugadorUno}} - {{marcador.jugadorDos}} </b> </span>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content text-center>

                <a class="btn waves-effect waves-light deep-orange"  routerLink="/menu1" *ngIf="!isJugador1Listo"   >
                  {{mensajes.salir[conf.idioma]}}
                  </a>

              <a class="btn waves-effect waves-light deep-orange " style="margin-left: 3%" (click)="estoyListo(1)" *ngIf="!isJugador1Listo"  >
                  {{mensajes.revancha[conf.idioma]}}
              </a>

              <b *ngIf="isJugador1Listo && !isJugador2Listo">{{mensajes.espera[conf.idioma]}}</b>
              

            </ion-card-content>
          </ion-card>

        </ion-col>



       
      </ion-row>

      <ion-row justify-content-center align-items-center style="height: 49vh;">



        <ion-col size="12">
          <ion-card [color]="conf.temaOscuro ? 'oscuro2' : ''">
            <ion-card-header>
              <ion-card-subtitle text-center>
                <span style="font-size: 130%"
                  [ngClass]="conf.temaOscuro? 'orange-text lighten-3':'deep-orange-text darken-3'"> 
                  <b >{{msjP2}}</b> 
                </span>
              </ion-card-subtitle>
              <ion-card-title text-center>
                <span style="font-size: 60%">{{mensajes.puntuacion[conf.idioma]}}</span> <br>
                <span style="font-size: 120%"> <b> {{puntuacion2}}</b> </span> <br>
                <span style="font-size: 50%">{{mensajes.marcador[conf.idioma]}}</span> <br>
                <span style="font-size: 100%"> <b> {{marcador.jugadorDos}} - {{marcador.jugadorUno}} </b> </span>

              </ion-card-title>
            </ion-card-header>
            <ion-card-content text-center>
              
                <a class="btn waves-effect waves-light deep-orange"  routerLink="/menu1" *ngIf="!isJugador2Listo" >
                    {{mensajes.salir[conf.idioma]}}
                </a>
                
              <a *ngIf="!isJugador2Listo" class="btn waves-effect waves-light deep-orange " style="margin-left: 3%" (click)="estoyListo(2)">
                  {{mensajes.revancha[conf.idioma]}}
              </a>
              <b *ngIf="isJugador2Listo && !isJugador1Listo">{{mensajes.espera[conf.idioma]}}</b>

            </ion-card-content>
          </ion-card>

        </ion-col>



      </ion-row>

    </ion-grid>

  </div>

</ion-content>