.title {
  color: #2c3e50;
  text-transform: uppercase;
}
$heigth: 23vh;
$width: 48vw;
$lh: 3em;
.first-place {
  background-color: #da461a;
  height: $heigth;
  width: $width;
  margin: 0 auto;
  line-height: 100px;
  color: white;
  line-height: $lh;
}

.user {
  font-size: 2rem;
}
.second-place {
  background-color: #099420;
  height: $heigth;
  width: $width;
  margin: 0 auto;
  line-height: 100px;
  display: inline-block;
  color: white;
  line-height: $lh;
}

.third-place {
  background-color: #3962d1;
  height: $heigth;
  width: $width;
  margin: 0 auto;
  margin-left: -4px;
  line-height: 100px;
  color: white;
  display: inline-block;
  line-height: $lh;
}
.position {
  font-size: 1.3rem;
}
.puntos {
  font-size: 1.7rem;
}

.first-place:hover {
  transform: translate(0px, -20px);
  transition: ease-in-out 0.1s;
}

.second-place:hover {
  transform: translate(-20px, 20px);
  transition: ease-in-out 0.1s;
}

.third-place:hover {
  transform: translate(20px, 20px);
  transition: ease-in-out 0.1s;
}
