<ion-content>
  <div class="contenedor">
    <ion-grid no-padding>
      <ion-row>
        <ion-col size="12" class="ion-text-left">
          <ion-back-button class="ion-float-left" defaultHref="menu1"></ion-back-button>
          <h3 class="t1" style="padding-left:7%; font-size: 1.7rem">
            <b>Mejores puntuaciones </b>| {{titulo}}
          </h3>
        </ion-col>
        <ion-col size="12" class="ion-text-center" style="margin-bottom: 5%">
          <div class="first-place podium" *ngIf="jugadores.length >= 1">
            <span class="position">#1</span> <br />
            <span class="user">{{ jugadores[0].username }}</span> <br />
            <span class="puntos">{{ jugadores[0].record }}</span>
          </div>
          <div class="second-place podium" *ngIf="jugadores.length >= 2">
            <span class="position">#2</span> <br />
            <span class="user">{{ jugadores[1].username }}</span> <br />
            <span class="puntos">{{ jugadores[1].record }}</span>
          </div>
          <div class="third-place" *ngIf="jugadores.length >= 3">
            <span class="position podium">#3</span> <br />
            <span class="user">{{ jugadores[2].username }}</span> <br />
            <span class="puntos">{{ jugadores[2].record }}</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list style="padding: 0%; background-color:0%;">
      <ion-item *ngFor="let j of restoJugadores()" lines="none" color="fondo">
        <ion-badge slot="end">{{ j.record }}</ion-badge>
        <ion-label>{{ j.index }}.- {{ j.username }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>