/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: "Roboto-Regular";
  src: url("./assets/fonts/Roboto-Regular.ttf");
}

$font-family-base: "Roboto-Regular", cursive !default;

ion-content {
  font-family: "Roboto-Regular";
}

.center {
  margin: 0 auto;
}

.center2 {
  margin-left: auto;
  margin-right: auto;
}

.pt-4 {
  padding-top: 40%;
}

.pt-3 {
  padding-top: 30%;
}

.pt-2 {
  padding-top: 20%;
}

.pt-1 {
  padding-top: 10%;
}

.pt-5 {
  padding-top: 50%;
}

.ion-color-orange {
  --ion-color-base: #ff5722;
  --ion-color-base-rgb: 255, 255, 0;
  --ion-color-contrast: #fbfbfb;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #ffffff;
  --ion-color-tint: #cf4949;
}

.ion-color-gray {
  --ion-color-base: #f6f6f6;
  --ion-color-base-rgb: 255, 255, 0;
  --ion-color-contrast: #252525;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #e0e000;
  --ion-color-tint: #ffff1a;
}

.ion-color-oscuro2 {
  --ion-color-base: #5c5b5b;
  --ion-color-base-rgb: 255, 255, 0;
  --ion-color-contrast: #fbfbfb;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #363636;
  --ion-color-tint: #252525;
}

.ion-color-main {
  --ion-color-base: #000000fb;
  --ion-color-contrast: #fff;
  --ion-color-shade: #fff;
  --ion-color-tint: #fbfbfb;
}
.ion-color-amarillo {
  --ion-color-base: #e2b617;
  --ion-color-contrast: #fff;
  --ion-color-shade: #fff;
  --ion-color-tint: #fbfbfb;
}

.titulo-1 {
  font-size: 400%;
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

.txt-120 {
  font-size: 120%;
}

.txt-130 {
  font-size: 130%;
}

.txt-140 {
  font-size: 140%;
}

.txt-150 {
  font-size: 150%;
}

* ::-webkit-scrollbar {
  display: none;
}

.tema-oscuro {
  background-color: #5c5b5b;
  color: white;
}

$base-color: rgba(255, 236, 212, 0.438);

.tema-principal {
  background-color: white;
  color: black;
}

.ion-color-principal {
  --ion-color-base: #044963;
  --ion-color-contrast: #fff;
  --ion-color-shade: #363636;
  --ion-color-tint: #002938;
}

.ion-color-fondo {
  --ion-color-base: #ecf0f1;
  --ion-color-contrast: #002938;
  --ion-color-shade: #002938;
  --ion-color-tint: #002938;
}

.white-text {
  color: white;
}

.black-text {
  color: black;
}

.volteado {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.txt-21 {
  font-size: 180%;
}

button {
  border-radius: 26px;
}

a {
  border-radius: 26px;
}

.main {
  background-color: #002938;
}

.txt-main {
  color: #002938;
}

.c1 {
  background-color: #0f6d84;
}

.c2 {
  background-color: #08c3b2;
}

.c3 {
  background-color: #ffcd1d;
}

.c4 {
  background-color: #fe9c90;
}

.c5 {
  background-color: #dc3e40;
}

.t1 {
  color: #0f6d84;
}

.t2 {
  color: #08c3b2;
}

.t3 {
  color: #ffcd1d;
}

.t4 {
  color: #fe9c90;
}

.t5 {
  color: #dc3e40;
}

.card {
  border: 1px solid white;
  border-radius: 15px;
  background-color: #000000fb;
  padding-bottom: 4%;
  margin-left: 5%;
  margin-right: 5%;
}

button ion-icon {
  padding-top: 15%;
  font-size: 2rem;
}

ion-list {
  background-color: transparent;
  padding: 0%;
}

.contenedor {
  background-color: #ecf0f1;
  text-align: center;
  font-family: Open Sans;
  min-height: 100vh;
}




.cargando{
  font-size: 1.7rem;
}