<ion-content class="ion-no-padding" (click)="iniciar()">
  <div style="height: 100vh;" [style.background-color]="getRGB(bgColor,.1)">
    <ion-row style="padding-top: 0%; margin-top: 0%" justify-content-center align-items-center>
      <ion-col size="12" text-center style="padding-top: 0%; margin-top: 0%">
        <div class="animated bounceInDown center">
          <div class="parent">
            <div class="div1 tira c1"></div>
            <div class="div2 tira c2"></div>
            <div class="div3 tira c3"></div>
            <div class="div4 tira c4"></div>
            <div class="div5 tira " id="tr5"></div>
          </div>
        </div>
        <div class="principal cuadro animated slower bounceIn main">
          <img height="100%" style="margin:0 auto;" src="assets/img/logo.png" />
        </div>
      </ion-col>

      <ion-col size="12" text-center class="animated fadeInUp delay-1s" style="font-size: 150%">
        <br /><br />
        <small><b class="txt-main">
            <!--
          <button class="btn btn-floating main" style="font-size: 1.8rem;padding-left: 10px">
              <ion-icon slot="icon-only" name="play"></ion-icon>
            </button> 
        -->
            Toca para continuar
          </b></small>
      </ion-col>

    </ion-row>
  </div>
</ion-content>